div{
  border: 1px solid black;
}
.handle{
  height: 100px;
  width: 20px
}
.container{
  display: table;
  margin: 5px;
}
.handle{
  display: table-cell;
}
.content{
  display: table-cell;
}
.control{
  min-width: 500px;
  min-height: 100px;
}
.control.hbox>.container{
  display: inline-block;
}
.content>div{
  min-width: 500px;
  min-height: 100px;
}
table.control tr td{
  border: 1px solid black
}
#drawingPanel{
  width: 900px;
  height: 500px;
}
#controlPanel{
  width: 200px;
  height: 500px;
}
#attributePanel{
  width: 200px;
  height: 500px;
}
