{
    "presets": [
        ["@babel/preset-env", {"modules": "auto"}]
    ],
    "plugins": [
        ["@babel/plugin-proposal-decorators", {"legacy": true}], 
        ["@babel/plugin-proposal-class-properties", { "loose" : true }]
    ]
}